/* Устанавливаем нулевые отступы для html и body */
html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Устанавливаем шрифт для всего документа */
    background-color: #121212; /* Темный фон для всей страницы */
    color: #e0e0e0; /* Светлый цвет текста для контраста */
    margin: 0; /* Убираем внешние отступы */
    padding: 20px; /* Внутренний отступ для контента */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    min-height: 100vh; /* Минимальная высота равна высоте экрана */
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: start;
}

.add-task input {
    flex: 1; /* Растягиваем поле ввода на всю доступную ширину */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #333; /* Темная граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 1rem; /* Размер текста */
    background: #333; /* Темный фон для поля ввода */
    color: #e0e0e0; /* Светлый цвет текста */
}

/* Стили для ненумерованного списка ul */
ul {
    margin: 0;
    /* Убираем маркеры у элементов списка */
    list-style: none;
    /* Размер шрифта */
    font-size: 36px;
    /* Ширина блока */
    width: 450px;
    /* Смещение слева */
    left: 45px;
    /* Смещение сверху */
    top: 60px;
    /* Закругление углов */
    border-radius: 20px;
    font-weight: 700;
    color: #C1AB85;
    /* Белый фон */
    background: #201e1e;
}

h1 {
    font-size: 2.5rem; /* Размер заголовка */
    color: #ffffff; /* Белый цвет для заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}

.page_2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskWidgetProgressRing {
    position: relative;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}

.taskWidgetProgressRing__svg {
    transform: rotate(-90deg); /* чтобы кольцо начиналось сверху */
    overflow: visible;
}

.taskWidgetProgressRing__background {
    fill: none;
    stroke: #484848; /* серый цвет для фона */
}

.taskWidgetProgressRing__circle {
    fill: none; /* Убираем заливку */
    stroke: #C1AB85; /* Цвет прогресса */
    stroke-dashoffset: 358.142; /* Начальное значение (100%) */
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.taskWidgetProgressRing__text {
    position: absolute;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 21px;
    color: #C1AB85;
    color: #C1AB85;
    text-align: center;
}

.week-statistics {
    display: flex;
    text-align: center;
    gap: 20px;
    color: #C1AB85;
}